
  <table mat-table [dataSource]="dataSource">

    <!-- Columna de ID -->
    <ng-container matColumnDef="idAppointment">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idAppointment}} </td>
    </ng-container>
  
    <!-- Columna de nombre -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Columna de apellido -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
    <!-- Columna de sexo -->
    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef> Sex </th>
      <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
    </ng-container>
  
    <!-- Columna de dirección -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.addres}} </td>
    </ng-container>
  
    <!-- Columna de correo electrónico -->
    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
    </ng-container>
  
    <!-- Columna de teléfono celular -->
    <ng-container matColumnDef="cell">
      <th mat-header-cell *matHeaderCellDef> Cell Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.cell}} </td>
    </ng-container>
  
    <!-- Columna de edad -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>
  
    <!-- Columna de programación de citas -->
    <ng-container matColumnDef="scheduleAppointment">
      <th mat-header-cell *matHeaderCellDef> Schedule Appointment </th>
      <td mat-cell *matCellDef="let element"> {{element.scheduleAppointment}} </td>
    </ng-container>
  
    <!-- Columna de aprobado -->
    <ng-container matColumnDef="approved">
      <th mat-header-cell *matHeaderCellDef> Approved </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="approvePatient(element.idAppointment)">
          <mat-icon>{{ element.approved ? 'check_circle' : 'cancel' }}</mat-icon>
        </button>
      </td>
    </ng-container>
      
    <!-- Encabezados de columna -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
    <!-- Filas de datos -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
